#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;

    
}
.box1, .box2, .box3{
    width: 30%;
    height: 300px;
    border: 2px solid black;
    text-align: center;
    font-size: larger;
    border-radius: 10px;
    background-color: aquamarine;
}
